/**
 * Bootstrap overrides
 * TODO: use bootstrap compiler and sass vars instead
 */
.btn-primary {
  color: #fff;
  background-color: #1F2F61;
  border-color: #1F2F61;
}
.btn-primary:hover {
  color: #F25551;
  background-color: #1F2F61;
  border-color: #1F2F61;
}


/**
 * Custom styles
 */
body.home {
  background: url('/images/woman-having-a-video-call.jpg') no-repeat center center fixed;
  background-size: cover;
}

#main-action {
  margin: 6em 1em;
}

#main-action form {
  background: #fff 30%;
  align-items: center;
  justify-content: center;
  border: 1px #dfdfdf solid;
  border-radius: 5px;
}

#main-action form p {
  margin-bottom: 0;
}

.card-footer {
  text-align: end; 
}

a {
  font-weight: bold;
  color: #1f2f61;
}

a:hover {
  color: #f25551;
  text-decoration: underline;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #1f2f61;
  border-color: #1f2f61;
}

a.btn-secondary:hover {
  color: #fff;
  background-color: #f25551;
  border-color: #f25551;
  text-decoration: underline; 
}

@media screen and (max-width: 370px) { 
  img.logo { 
    width: 7em; 
  }
}
