<!DOCTYPE html>
<html lang="nl">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="referrer" content="no-referrer">
      {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
      <title>
      {{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}
      </title>

      <meta property="og:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}" />
      <meta property="og:type" content="website" />
      <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
      <meta property="og:url" content="{{ .Permalink }}"/>
      <meta property="og:site_name" content="{{ .Site.Title }}"/>

      {{ with .Resources.ByType "image" }}
        {{ range first 5 (sort . "Params.weight") }}
            <meta property="og:image" content="{{ .Permalink }}"/>
        {{ end }}
      {{ else }}
        {{ with .Site.GetPage "page" "/home" }}
          {{ range first 5 (.Resources.ByType "image") }}
            <meta property="og:image" content="{{ .Permalink }}"/>
          {{ end }}
        {{ end }}
      {{ end }}

      {{ with .Site.Params.favicon }}
      <link rel="shortcut icon" href="{{ . | relURL }}">
      {{ end }}
    </head>

    <body>
        {{ with .Site.GetPage "/home" }}
        <section id="top" class="hero is-{{ .Site.Params.home.introHeight | default "fullheight" }}">
            <!-- Hero head section to play nice with Bulma -->
            <div class="hero-head"></div>

            <!-- Super sweet Hero body title -->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}">
                      <a href="/"><img class="logo" src="/images/logo.png" alt="logo: {{ .Site.Title }}"></a>
                      <span class="hidden">{{ .Title }}</span>
                    </h1>
                    <!-- Title and tagline -->
                    <div class="hidden">
                        {{ .Content }}
                    </div>
                    <!-- End title and tagline -->
                </div>
            </div> <!-- End of Hero body -->
            {{ end }}

            <div class="hero-foot {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}">
                <!-- Tell them all about it! -->
                {{ partial "nav.html" . }}
            </div>
        </section> <!-- Done with Hero -->

        {{ with .Site.GetPage "/home" }}
        {{ $home := . }}
        {{ $pages := .Resources.ByType "page" }}

        {{ with .Site.GetPage "/blog" }}
            {{ $pages = $pages | append . }}
        {{ end }}

        {{ with .Site.GetPage "/projects" }}
            {{ $pages = $pages | append . }}
        {{ end }}

        {{ range sort $pages "Params.weight" }}
        {{ if ne .Name "contact.md" }}
        {{ if .File }}
        {{ if eq (os.Stat .File.Dir).Name "projects" }}
            <!-- Now for some cool projects -->
            {{ partial "home/projects.html" . }}
        {{ else if eq (os.Stat .File.Dir).Name "blog" }}
            <!-- Let`s show some blog posts -->
            {{ partial "home/blog.html" . }}
        {{ else }}

        <!-- Range through all sections in /home execept contact.md -->
        <div class="section" id="{{ .File.TranslationBaseName }}">
            <div class="container">
                <h2 class="title is-2 has-text-centered">{{ .Title }}</h2>
                {{ if .Params.Image }}
                <div class="columns">
                    <div class="column is-one-third has-text-centered">
                        {{ with $home.Resources.GetMatch .Params.Image }}
                        {{ with .Resize "320x" }}
                        <img class="img-responsive avatar" src="{{ .Permalink }}" alt="{{ .Name }}">
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="markdown column">
                        {{ .Content }}
                    </div>
                </div>
                {{ else }}
                <div class="markdown has-text-left">
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
            <!-- End About container-->
            {{ partial "top-icon.html" . }}
        </div>
        <div class="container">
            <hr>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        <!-- Let`s chat, shall we? -->
        {{ with .Resources.GetMatch "contact.md" }}
        <div class="section" id="{{ .File.TranslationBaseName }}">
            <div class="container has-text-centered">
                <h2 class="title is-2">{{ .Title }}</h2>
                <div class="markdown has-text-left">
                    {{ .Content }}
                </div>
                {{ if .Site.Params.home.localTime }}
                <p>{{ i18n "index_currentTime" . }} <span id="time" data-time-zone="{{ .Site.Params.home.timeZone }}" data-time-format="{{ .Site.Params.home.timeFormat }}"></span>.</p>
                {{ end }}
                {{ with .Site.Params.email }}
                <h3 class="subtitle is-3 has-text-left top-pad">
                    <a href="mailto:{{ . }}">{{ . }}</a>
                </h3>
                {{ end }}
            </div>
            <!-- End Contact container -->
            {{ partial "top-icon.html" . }}
        </div>
        <div class="container">
            <hr>
        </div>
        {{ end }}
        <!-- End Contact section -->
        {{ end }}

        {{ partial "footer/text.html" . }}

        <!-- End of fade in three section -->
        {{ partial "footer/scripts.html" . }}
        {{ partial "js/owlCarousel.html" . }}

        {{ if .Site.Params.home.localTime }}
        {{ $momentjs := resources.Get "vendor/momentjs/moment.min.js" }}
        {{ $momentTimezone := resources.Get "vendor/momentjs/moment-timezone.min.js" }}
        {{ $momentTimezoneWithData := resources.Get "vendor/momentjs/moment-timezone-with-data-2012-2022.min.js" }}
        {{ $initMomentjs := resources.Get "js/initMoment.js" }}
        {{ $bundleMoment := slice $momentjs $momentTimezone $momentTimezoneWithData $initMomentjs | resources.Concat "js/bundleMoment.js" | fingerprint }}
        <script src="{{ $bundleMoment.Permalink }}" integrity="{{ $bundleMoment.Data.Integrity }}"></script>
        {{ end }}
    </body>

</html>
